body {
  color: #fff;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
  top: 28px;
  left: 28px;
  right: 28px;
  height: 54px;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
  bottom: 28px;
  left: 28px;
  right: 28px;
  height: 54px;
}

h1, h2 {
  font-size: 40px;
}

section:first-child {
  background: blue;
}

section:nth-child(2) {
  background: red;
}

section:nth-child(3) {
  background: green;
}

section:nth-child(4) {
  background: orange;
}

section > div {
  padding: 10%;
}